<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/vue.min.js"></script>
    <title>v-model</title>
</head>

<body>

    <h1>hello vue2.0</h1>
    <hr>
    <div id="app">
        <p>原始文本信息：{{message}}</p>
        <h3>文本框</h3>
        <p>v-model: <input type="text" v-model="message"></p>
        <p>v-model.lazy: <input type="text" v-model.lazy="message"></p>
        <p>v-model.number: <input type="text" v-model.number="message"></p>
        <p>v-model.trim: <input type="text" v-model.trim="message"></p>
        
        <hr>
        <h3>文本域</h3>
        <textarea  cols="30" rows="10" v-model="message"></textarea>

        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="jspang" value="jspang" v-model="web_names">
        <label for="isTrue">jspang</label>

        <input type="checkbox" id="xiaohong" value="xiaohong" v-model="web_names">
        <label for="isTrue">xiaohong</label>

        <input type="checkbox" id="xiaoming" value="xiaoming" v-model="web_names">
        <label for="isTrue">xiaoming</label>

        <p>{{web_names}}</p>

        <hr>

        <h3>单选框绑定</h3>
        <input type="radio" id="one" value="男" v-model="sex">
        <label for="one">男</label>
        <input type="radio" id="two" value="女" v-model="sex">
        <label for="two">女</label>
        <p v-text="sex"></p>
    </div>

    
    <hr>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message:"halo world",
                isTrue:true,
                web_names:[],
                sex:"",
            },
            methods:{
              
            }
        })

    </script>

</body>

</html>